@use './vars' as *;

.about {
  padding-top: 125px;
  padding-bottom: 97px;
  background-color: #fff5f6;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img {
  margin-bottom: 46px;
  width: 280px;
  height: 279px;
  background-image: url(../images/about/about-bg-mob-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-subtitle {
  margin-bottom: 15px;
  text-align: center;
  font-family: $secondaryFontFamily;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  color: $darkTitlePink;
}

.about-title {
  width: 200px;
  // margin: 0 auto;
  margin-bottom: 26px;
  color: $darkRed;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}


.about-text {
  margin-bottom: 46px;
  width: 220px;
  color: $mainTextColor;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}


.about-desc {
  width: 220px;
  color: $secondaryTextColor;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.about-btn-read {
  margin-top: 17px;
  margin-bottom: 39px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  color: $darkRed;

  transition: background-color $transition;

  &:hover,
  &:focus {
    color: $btnBgHover;
  }
}

.about-btn-icon {
  width: 5px;
  height: 8px;
  stroke: $darkRed;
  fill: transparent;
}


.about-item:not(:last-child){
  margin-bottom: 38px;
}

.about-item-number {
  font-family: $secondaryFontFamily;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: $darkRed;

  &::before {
    content: '';
    display: block;
    margin-bottom: 16px;
    background-size: cover;
    background-repeat: no-repeat;
  }

}

.item-1::before {
  width: 33px;
  height: 50px;
  background-image: url(../images/about/about-1.svg);
}

.item-2::before {
  width: 50px;
  height: 50px;
  background-image: url(../images/about/about-2.svg);
}

.item-3::before {
  width: 44px;
  height: 50px;
  background-image: url(../images/about/about-3.svg);
}

.about-item-text {
  max-width: 230px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  color: $mainTextColor;
}


