@use './vars' as *;

.header {
  position: absolute;
  top: 6px;
  width: 100%;
  @media screen and(min-width: $bp-tablet) {
    top: 38px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 199px;
  height: 50px;
}

.header-nav {
  display: none;

  @media screen and (min-width: $bp-desktop) {
   display: block;
}}

.header-list{
  display: flex;
  gap: 35px;
}

.header-link{
font-family: "DM Sans";
font-size: 16px;
font-weight: 700;
line-height: normal;
 color: $whiteColor;
}

.header-buy-btn {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: block;
    gap: 15px;
    width: 160px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    border-radius: 22px;
    background-color: $whiteColor;
    color: $darkRed;
    transition: background-color $transition;

    &:hover,
    &:focus {
      background-color: $btnBgHover;
    }
  }
}

.btns-container {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.mob-open-btn {
  background-color: transparent;
  stroke: $darkRed;

   @media screen and (min-width: $bp-desktop) {
    display: none;
  }
}


