@use './vars' as *;

.hero {
  height: 502px;
  padding-top: 193px;
  background-color: $pinkBgColor;
  background-image: url(../images/hero/hero-bg-pink-mob-1x.png);
  background-repeat: no-repeat;
  background-position: right;

  @media screen and (min-width: $bp-tablet) {
    height: 399px;
    padding-top: 102px;
    background-image: url(../images/hero/hero-bg-pink-tab.png);
    background-position-x: 64%;
    background-position-y: 15%;
  }
}

.hero::after {
  content: '';
  display: block;
  background-image: url(../images/hero/hero-bg-icecream-mob-1x.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 92px;
  right: 25px;
  width: 171px;
  height: 410px;

  @media screen and (min-width: $bp-tablet) {
    width: 143px;
    height: 336px;
    top: 63px;
    right: 255px;
    background-image: url(../images/hero/hero-bg-icecream-tab-1x.png);
  }
}

.hero-content {
  position: absolute;
  z-index: 1;
}

.text-box {
  @media screen and (min-width: $bp-tablet) {
    display: flex;

    &::before {
      content: '';
      display: block;
      width: 124px;
      height: 126px;
      background-image: url(../images/hero/hero-milk-tab-1x.png);
    }
  }
}

.hero-text {
  margin-top: 50px;
  margin-bottom: 7px;
  width: 114px;
  color: $whiteColor;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.5;
}

.hero-btn-icon {
  background-color: transparent;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url(../images/hero/hero-btn-icon.png);
}
.hero-title {
  margin-bottom: 19px;
  width: 218px;
  font-family: $secondaryFontFamily;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  color: $whiteColor;
}

.hero-title-accent {
  font-family: $secondaryFontFamily;
  font-size: 48px;
  font-weight: 400;
  line-height: 96.5%;
  text-transform: uppercase;
  color: $darkRed;
}

.hero-products-btn {
  margin-right: 9px;
  width: 62px;
  height: 24px;
  font-size: 8px;
  line-height: 1.2;
  color: $whiteColor;
  background-color: $darkRed;
  border-radius: 20px;
  transition: background-color $transition;

  &:hover,
  &:focus {
    color: $accentRed;
  }
}

.hero-about-btn {
  width: 83px;
  height: 24px;
  font-size: 8px;
  line-height: 1.2;
  color: $darkRed;
  background-color: $whiteColor;
  border-radius: 20px;
  transition: background-color $transition;

  &:hover,
  &:focus {
    color: $btnBgHover;
  }
}

.hero-text {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.amount-wrapper {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
}

.amount-item {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $whiteColor;
  }
}

.amount-position{
  min-width: 43px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero-amount {
  font-family: $secondaryFontFamily;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  color: $darkRed;
}

.hero-name {
  text-align: end;
  font-size: 8px;
  line-height: 1.2;
  color: $whiteColor;
}
