$darkRed : #D41443;
$accentRed: #C7133E; 
$darkTitlePink: #FFA5BA;
$mobMenuBgColor: #E17992;
$whiteColor: #FFF;
$mainTextColor: #000;
$secondaryTextColor: #907E82;
$sectionBgColor: #E1E1E1;
$greenBgColor: #C2E297;
$orangeBgColor: #F0D1A5;
$pinkBgColor : #FFB8CA;
$btnBgHover: #ECEBEB;
$transition: 300ms ease-in-out;

$bp-mobil: 480px;
$bp-tablet: 768px;
$bp-desktop: 1050px;

$mainFontFamily: "DM Sans", serif;
$secondaryFontFamily: "Titan One";