<section class="about">
  <div class="container about-container">
    <p class="about-subtitle">tradition and love</p>
    <h2 class="about-title">how it’s made?</h2>
    <div class="about-img">
    <div class="wrapper-text">
      <p class="about-text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>

      <p class="about-desc">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
        <br/>  <br/> Aliquam erat volutpat. Aenean accumsan.
      </p>
    </div>
    </div>
    <button class="about-btn-read" type="button">
      Read more
      <svg class="about-btn-icon" width="4" height="8">
        <use href="images/symbol-defs.svg#vector-right"></use>
      </svg>
    </button>
    <ul class="about-list">
      <li class="about-item">
        <span class="about-item-number item-1">721</span>
        <p class="about-item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="about-item">
        <span class="about-item-number item-2">721</span>
        <p class="about-item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="about-item">
        <span class="about-item-number item-3">721</span>
        <p class="about-item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
