<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-item">
        <h3 class="contacts-subtitle orange-bg">CAFE</h3>
        <div class="box-city">
          <h4 class="contacts-city">Chicago</h4>
          <p class="contacts-desc">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="box-works">
          <h4 class="contacts-days">Monday - Friday</h4>
          <p class="contacts-hours mr-bottom">06:00 AM - 10:00 PM</p>

          <h4 class="contacts-days">Saturday - Sunday</h4>
          <p class="contacts-hours">08:00 AM - 16:00 PM</p>
        </div>
        
          <address>
            <ul class="contacts-address">
              <li class="address-list">
                <a href="tel:+61(0) 383 766 284" class="address-link"
                  >+61(0) 383 766 284
                </a>
              </li>
              <li class="address-list">
                <a href="mailto:noreply@envato.com" class="address-link">
                  noreply@envato.com</a
                >
              </li>
            </ul>
          </address>
       
      </li>
      <li class="contacts-item">
        <h3 class="contacts-subtitle green-bg">FOODTRUCK</h3>
        <div class="box-city">
          <h4 class="contacts-city">Los Angeles</h4>
          <p class="contacts-desc">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="box-works">
          <h4 class="contacts-days">Monday - Friday</h4>
          <p class="contacts-hours">06:00 AM - 10:00 PM</p>
          <h4 class="contacts-days">Saturday - Sunday</h4>
          <p class="contacts-hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="box-address">
          <address>
            <ul class="contacts-address">
              <li class="address-list">
                <a href="tel:+61(0) 383 766 284" class="address-link"
                  >+61(0) 383 766 284
                </a>
              </li>
              <li class="address-list">
                <a href="mailto:noreply@envato.com" class="address-link">
                  noreply@envato.com</a
                >
              </li>
            </ul>
          </address>
        </div>
      </li>
      <li class="contacts-item">
        <h3 class="contacts-subtitle orange-bg">CAFE</h3>
        <div class="box-city">
          <h4 class="contacts-city">New York</h4>
          <p class="contacts-desc">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="box-works">
          <h4 class="contacts-days">Monday - Friday</h4>
          <p class="contacts-hours">06:00 AM - 10:00 PM</p>
          <h4 class="contacts-days">Saturday - Sunday</h4>
          <p class="contacts-hours">08:00 AM - 16:00 PM</p>
        </div>
        <div class="box-address">
          <address>
            <ul class="contacts-address">
              <li class="address-list">
                <a href="tel:+61(0) 383 766 284" class="address-link"
                  >+61(0) 383 766 284
                </a>
              </li>
              <li class="address-list">
                <a href="mailto:noreply@envato.com" class="address-link">
                  noreply@envato.com</a
                >
              </li>
            </ul>
          </address>
        </div>
      </li>
    </ul>
    <div class="btn-wrapper">
      <button type="button" class="contacts-location-btn">Our Locations</button>
      <button type="button" class="contacts-franchise-btn">Franchise</button>
    </div>
  </div>
</section>
