<header class="header">
  <div class="container">
    <div class="header-container">
      <!-- logo -->
      <a href="#" class="logo">
        <img src="images/logo-header.png" alt="Logo" class="logo-img" />
      </a>
     
        <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list"><a href="#" class="header-link">Home</a></li>
          <li class="header-list">
            <a href="#" class="header-link">About us</a>
          </li>
          <li class="header-list">
            <a href="#" class="header-link">How it’s made?</a>
          </li>
          <li class="header-list">
            <a href="#" class="header-link">Our products</a>
          </li>
          <li class="header-list">
            <a href="#" class="header-link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="btns-container">
         <!-- burger icon -->
        <button
          type="button"
          class="menu-toggle mob-open-btn js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg
            class="burger-icon"
            aria-label="Перемикач мобільного меню"
            width="20"
            height="12"
          >
            <use href="images/symbol-defs.svg#burger"></use>
          </svg>
        </button>

        <!-- btn buy now -->
        <button type="button" class="header-buy-btn">
          Buy now
          <svg class="vector-icon">
            <use href="images/symbol-defs.svg#vector-right"></use>
          </svg>
        </button>
      </div>
     
    </div>
  </div>
</header>
