<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title-accent">passion</span>
      </h1>

      <button type="button" class="hero-products-btn">Products</button>
      <button type="button" class="hero-about-btn">How it’s made?</button>
      <div class="text-box">
        <div>
          <p class="hero-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="hero-btn-icon"></button>
        </div>
      </div>
    </div>

    <ul class="amount-wrapper">
      <li>
        <p class="hero-amount">16 </p>
        <p class="hero-name">cafes</p>
      </li>
      <li>
        <p class="hero-amount">23 </p>
        <p class="hero-name">food trucks</p>
      </li>
    </ul>
  </div>
</section>
