<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        ice cream made with <span class="title-accent">passion</span>
      </h1>

      <button type="button" class="hero-products-btn">Products</button>
      <button type="button" class="hero-about-btn">How it’s made?</button>
    </div>
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <div class="amount-wrapper">
      <p class="hero-amount">16 <span>cafes</span></p>
      <p class="hero-amount">23 <span>food trucks</span></p>
    </div>
  </div>
</section>
