<div class="mob-menu-container js-menu-container" id="mobile-menu">
    <button type="button" class="mob-close-btn menu-toggle js-close-menu">
      <svg class="close-icon" aria-label="Перемикач мобільного меню" width="14" height="14">
        <use href="images/symbol-defs.svg#mobile-menu-close"></use>
      </svg>
    </button>
    <button type="button" class="mob-buy-btn">
      Buy now
      <svg class="vector-icon">
        <use href="images/symbol-defs.svg#vector-right"></use>
      </svg>
    </button>
    <nav class="mob-nav">
      <ul class="mob-list">
        <li class="mob-item"><a href="#" class="mob-link">Home</a></li>
        <li class="mob-item">
          <a href="#" class="mob-link">About us</a>
        </li>
        <li class="mob-item">
          <a href="#" class="mob-link">How it’s made?</a>
        </li>
        <li class="mob-item">
          <a href="#" class="mob-link">Our products</a>
        </li>
        <li class="mob-item"><a href="#" class="mob-link">Contact</a></li>
      </ul>
    </nav>

  </div>