<section class="reviews">
  <div class="container">
    <img
    class="reviews-photo"
      src="images/reviews/review-person.png"
      alt="Photo of user"
      width="85"
    />
    <div class="mob-screen">
      <ul class="mob-reviews-list">
        <li class="mob-reviews-item item-el">
          <p class="mob-reviews-text ">Nullam viverra</p>
        </li>
        <li class="mob-reviews-item">
          <p class="mob-reviews-text">consectetuer. Quisque</p>
        </li>
        <li class="mob-reviews-item">
          <p class="mob-reviews-text">cursus et, porttitor risus.</p>
        </li>
        <li class="mob-reviews-item">
          <p class="mob-reviews-text">Aliquam sem. In hendrerit</p>
        </li>
        <li class="mob-reviews-item">
          <p class="mob-reviews-text">nulla quam nunc,</p>
        </li>
        <li class="mob-reviews-item">
          <p class="mob-reviews-text">accumsan congue. Lorem</p>
        </li>
        <li class="mob-reviews-item">
          <p class="mob-reviews-text">ipsum primis in nibh vel</p>
        </li>
        <li class="mob-reviews-item">
          <p class="mob-reviews-text">risus.</p>
        </li>
      </ul>
      <button type="button" class="mob-btn">
        <svg width="32" height="4">
            <use href="images/symbol-defs.svg#review-dots"></use>
        </svg>
      </button>
      <p class="mob-location">Emily, Los Angeles</p>
       <svg width="73" height="12" class="rewiews-dots-icon">
            <use href="images/symbol-defs.svg#review-hr-dots"></use>
        </svg>
    </div>
  </div>
</section>
