<section class="reviews">
  <div class="container">
    <img
      class="reviews-photo"
      src="images/reviews/review-person-1x.png"
      alt="Photo of user"
      width="85"
    />
    <div class="mob-screen">
      <ul class="mob-reviews-list">
        <li class="mob-reviews-item item-el">
          <p class="reviews-text">Nullam viverra</p>
        </li>
        <li class="mob-reviews-item">
          <p class="reviews-text">consectetuer. Quisque</p>
        </li>
        <li class="mob-reviews-item">
          <p class="reviews-text">cursus et, porttitor risus.</p>
        </li>
        <li class="mob-reviews-item">
          <p class="reviews-text">Aliquam sem. In hendrerit</p>
        </li>
        <li class="mob-reviews-item">
          <p class="reviews-text">nulla quam nunc,</p>
        </li>
        <li class="mob-reviews-item">
          <p class="reviews-text">accumsan congue. Lorem</p>
        </li>
        <li class="mob-reviews-item">
          <p class="reviews-text">ipsum primis in nibh vel</p>
        </li>
        <li class="mob-reviews-item">
          <p class="reviews-text">risus.</p>
        </li>
      </ul>
    </div>
     <div class="tab-screen">
      <ul class="tab-reviews-list">
        <li class="tab-reviews-item item-el">
          <p class="reviews-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus
          </p>
        </li>
        <li class="tab-reviews-item">
          <p class="reviews-text">
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
          </p>
        </li>
        <li class="tab-reviews-item">
          <p class="reviews-text">Lorem ipsum primis in nibh vel risus.</p>
        </li>
      </ul>
    </div>
    <div class="desk-screen">
      <ul class="desk-reviews-list">
        <li class="desk-reviews-item item-el">
          <p class="reviews-text">
           Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          </p>
        </li>
        <li class="desk-reviews-item">
          <p class="reviews-text">
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </li>
      </ul>
    </div>
    <button type="button" class="dots-btn">
      <svg width="32" height="4">
        <use href="images/symbol-defs.svg#review-dots"></use>
      </svg>
    </button>
    <p class="reviews-location">Emily, Los Angeles</p>
    <svg width="73" height="12" class="rewiews-dots-icon">
      <use href="images/symbol-defs.svg#review-hr-dots"></use>
    </svg>

   
  </div>
</section>
